@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff') format('woff'),
         url('../fonts/MasonChronicles.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  

  *{
    margin: 0;
    padding: 0;
    outline:none
  }
html{
    font-size: 14px;

}

a{
    text-decoration: none;
    color:#fff
}

body{
    background: #141218;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    background-image:url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: top right 20%;
}


                /* HEADER */
.header{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    padding-top: 60px;
    margin-bottom: 90px;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}

.header-menu{
    margin-right: auto;
    margin-left: 65px;
    
}

.header-social{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.header-menu__link{
    line-height:16px;
    text-decoration: none;
    margin-right: 24px;
}

.header-social__link{
    margin-right: 20px;
    text-transform: none;
}

/*CONTENT*/
.main-content{
    display: -webkit-box;
    display: flex;
    margin-bottom: 85px;
}

.content__genre{
    display: block;
    margin-bottom: 16px;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.сontent-rating{
    -webkit-box-align:center;
            align-items:center;
    display: -webkit-box;
    display: flex;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.content-rating__number{
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
}

.content__main-tittle{
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 90px;
    font-weight: 500;
    -webkit-animation-delay:0.5s;
            animation-delay:0.5s;

    margin: 10px auto;

}

.content__main-description{
    font-size: 14px;
    line-height: 150%;
    max-width: 460px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}

.content__button{
    background: #9D2929;
    border-radius: 8px;
    border: none;
    padding: 22px 72px;
    margin-top: 40px;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}

.main-content_play{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: none;
    background: #9D2929;
    position: relative;
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
     justify-content: center;
    -webkit-box-align:center;
            align-items:center;
    cursor:pointer;
    -webkit-animation:fadeIn;
            animation:fadeIn;   
    -webkit-animation-duration: 4s;   
            animation-duration: 4s;

}

.main-content_play:before{
    content:'';
    height: 132px;
    width: 132px;
    background: #9D2929;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    -webkit-animation: pulse 2s ease-in-out 0.5s infinite;
            animation: pulse 2s ease-in-out 0.5s infinite;
}

.main-content_play-image{
    position: relative;
    -webkit-transform: translateX(5px);
            transform: translateX(65px);
}

/*SLIDER*/

.swiper-slide{
    cursor: pointer;
}

.swiper-container{
    max-width: 420px;
    margin-left: 0;
}

.series{
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
    margin-bottom:60px;
    position: relative;
    max-width: 420px;
    margin-bottom: 60px;
    /* animation-delay: 1.4s; */
}

.series-card{
    width: 164px;
    height: 113px;
    
    border-radius: 8px;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;

    padding: 13px;
    margin-right: 30px;
}

.series-card__subtitle{
    font-size: 10px;
    line-height: 12px;
}

.series-1{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider1.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-2{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider2.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-3{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider3.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-4{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider4.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-5{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider5.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-6{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url('../img/slider/slider6.png');
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/slider/slider6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.series-navigation_arrow{
    width: 32px;
    height: 23px;
    background-image:url('../img/slider/arrow.svg');
    border:none;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: transparent;
    position: absolute;
    top:50%;
    right: -32px;
    outline: none
}

button:hover{
    box-shadow: none;
}




/*FOOTER*/

.footer{
    padding: 10px 0;
    background:#141218;
    margin-top: auto;
}

.footer-info{
    margin:8px 0;
}

.footer-content{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    color:#727174;
    -webkit-box-align:center;
            align-items:center;
}

.footer-nav a{
    color:#727174;
}

.footer-nav__link{
    margin-left: 25px;
}

.menu-btn{
    display: none;
}

/*Responsiv*/

@media(max-width: 760px){
    .main-content_play{
        display: none;
    }
    .footer-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: start;
                align-items: flex-start;
    }
    .footer-nav__link:first-child{
        margin-left: 0;

    }
}



@media(max-width:540px){


    .content__main-tittle{
        right: 5px;
    }

    .content__main-tittle{
        font-size: 70px;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 40px;
        right: 36px;
        width: 30px;
        height: 2px;
        background-color:#fff;
    }

    .menu-btn::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color:#fff;
        margin-top: -6px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .menu-btn::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color:#fff;
        margin-top: 6px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .menu-btn-active{
        height: 0;
        
    }

    .menu-btn-active::before{
        -webkit-transform: rotate(320deg);
                transform: rotate(320deg);
        margin-top: 0;
    }

    .menu-btn-active::after{
        -webkit-transform: rotate(-320deg);
                transform: rotate(-320deg);
        margin-top: 0;
    }
    

   

    .header{
        display:none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: #9D2929;
        width: 250px;
        padding-bottom: 40px;
    }

    .header-active{
        display: -webkit-box;
        display: flex;
    }

    .header__logo{
        margin-bottom: 25px;
    }

    .header-menu{
        margin: auto;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-ordinal-group: 3;
                order: 2;
    }

    .header-social{
        -webkit-box-ordinal-group: 2;
                order: 1;
        margin-bottom: 22px;
    }

    .header-menu__link{
        
        margin-right: 0;
        margin-bottom: 18px;
        
    }

    .header-social__link:last-child{
        margin-right: 0;
    }

    .swiper-container{
        width: 80%;
    }

    .series{
        max-width:240px
    }
}

